<a id="contacts"></a>
<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__left">
                <div class="footer__title">
                    <h2>контакты</h2>
                </div>
                <div class="footer__item">
                    <div class="footer__top">
                        <p>1-й Силикатный проезд, 19/2с26</p>
                        <span
                        ><img src="{{ asset('img/footer/Moscow_Metro.png') }}" alt="" />
              Хорошёвская</span
                        >
                    </div>
                    <div class="footer__bottom">
                        <div class="footer__col">
                            <img src="{{ asset('img/footer/call.png') }}" alt="" />
                            <div class="footer__input">
                                <a href="tel:+74951914133">+7 (495) 191-41-33</a>
                                <span>Слесарный цех</span>
                            </div>
                        </div>
                        <div class="footer__col" style="display: none;">
                            <img src="{{ asset('img/footer/markunread.png') }}" alt="" />
                            <div class="footer__input">
                                <a href="mailto:aatplus@yandex.ru">aatplus@yandex.ru</a>
                                <span>E-mail</span>
                            </div>
                        </div>
                        <div class="footer__col">
                            <img src="{{ asset('img/footer/schedule.png') }}" alt="" />
                            <div class="footer__input">
                                <p>09:00-21:00</p>
                                <span>Без выходных</span>
                            </div>
                        </div>
                    </div>
                </div>
                {#<div class="footer__item">
                    <div class="footer__top">
                        <p>Ул. Ибрагимова 31 ас4</p>
                        <span
                        ><img src="{{ asset('img/footer/Moscow_Metro.png') }}" alt="" />
              Семеновская</span
                        >
                    </div>
                    <div class="footer__bottom">
                        <div class="footer__col">
                            <img src="{{ asset('img/footer/call.png') }}" alt="" />
                            <div class="footer__input">
                                <a href="tel:+74951912132">+7 (495) 191-21-32</a>
                                <span>Слесарный цех</span>
                            </div>
                        </div>
                        <div class="footer__col">
                            <img src="{{ asset('img/footer/call.png') }}" alt="" />
                            <div class="footer__input">
                                <a href="mailto:aatplus@yandex.ru">aatplus@yandex.ru</a>
                                <span>E-mail</span>
                            </div>
                        </div>
                        <div class="footer__col">
                            <img src="{{ asset('img/footer/schedule.png') }}" alt="" />
                            <div class="footer__input">
                                <p>09:00-21:00</p>
                                <span>Без выходных</span>
                            </div>
                        </div>
                    </div>
                </div>#}
            </div>
            <div class="footer__rigth">
                {#<iframe
                        src="https://yandex.ru/map-widget/v1/?um=constructor%3A1eb2a856320de4b8b4096743e9dfdac6ab09a8ee07cb5c8ae1f485a2ce66b8dc&amp;source=constructor"
                        width="100%"
                        frameborder="0"
                        loading="lazy"
                ></iframe>#}
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af46dc269503fda9d3e6c12467e96bf5cee2a5707a3926b05161b059503495bf0&amp;source=constructor" width="100%" height="402" frameborder="0" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <div class="footer__info">
        <div class="container">
            <div class="footer__block">
                <p>Сервис Грац-Авто, Мерседес</p>
                <p>
                    Ремонт и обслуживание Mercedes-Benz <br />
                    (Мерседес Бенс) в Москве
                </p>
            </div>
        </div>
    </div>

    {{ include('elements/modals/footer-modal.html.twig') }}
</footer>