<div class="header-top">
    <div class="header-logo">
        <a href="#"><img src="{{ asset('img/header/logo.png') }}" alt="" /></a>
    </div>
    <div class="header-contact">
        <div class="header-contact__col">
            <div class="header-contact__img">
                <img src="{{ asset('img/header/geo.svg') }}" alt="" />
            </div>
            <div class="header-contact__tell">
                <a href="tel:+74994330728"><span>+7 (499) 433-07-28</span></a>
                <p>ул. Ибрагимова 31 ас4</p>
            </div>
        </div>
        <div class="header-contact__col">
            <div class="header-contact__img">
                <img src="{{ asset('img/header/geo.svg') }}" alt="" />
            </div>
            <div class="header-contact__tell">
                <a href="tel:+74951912074"><span>+7 (495) 191-20-74</span></a>
                <p>1-й Силикатный проезд, 19/2с26</p>
            </div>
        </div>
        <div class="header-contact__col">
            <div class="header-contact__img">
                <img src="{{ asset('img/header/time.svg') }}" alt="" />
            </div>
            <div class="header-contact__tell">
                <span>09:00-21:00</span>
                <p>Без выходных</p>
            </div>
        </div>
    </div>
    <div class="header-feedback">
        <button href="#" class="open-form-btn">Получить консультацию</button>
    </div>
    <div class="header-btn" id="openMenu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="header-menu" id="menu">
        <div class="header-menu__close">
            <button id="closeMenu"><img src="{{ asset('img/close.png') }}" alt="" /></button>
        </div>
        <nav class="header-menu__nav">
            <ul class="header-menu__list">
                <li class="header-menu__link"><a href="">О компании</a></li>
                <li class="header-menu__link"><a href="">Услуги</a></li>
                <li class="header-menu__link">
                    <a href="">Корпоративным клиентам</a>
                </li>
                <li class="header-menu__link"><a href="">Отзывы</a></li>
                <li class="header-menu__link"><a href="">Сертификаты</a></li>
                <li class="header-menu__link"><a href="">Фотогалерея</a></li>
                <li class="header-menu__link"><a href="">Цены</a></li>
                <li class="header-menu__link"><a href="">Контакты</a></li>
            </ul>
        </nav>
        <div class="header-contact__col">
            <div class="header-contact__img">
                <img src="{{ asset('img/header/time.svg') }}" alt="" />
            </div>
            <div class="header-contact__tell">
                <span>09:00-21:00</span>
                <p>Без выходных</p>
            </div>
        </div>
        <div class="header-menu__feedback">
            <button class="open-form-btn">Получить консультацию</button>
        </div>
    </div>
</div>