<a id="reviews"></a>
<section>
    <div class="reviews">
        <div class="container">
            <div class="reviews__wrapper">
                <div class="reviews__title">
                    <h2>отзывы на наши услуги</h2>
                </div>
                <div class="reviews__items">
                    <div class="reviews__item">
                        <div class="reviews__top">
                            <p>4.8</p>
                            <div class="reviews__star">
                                <img src="{{ asset('img/reviews/star.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-3.png') }}" alt="" />
                            </div>
                        </div>
                        <span>Наш средний рейтинг</span>
                    </div>
                    <div class="reviews__item">
                        <img src="{{ asset('img/reviews/y.png') }}" alt="" />
                        <div class="reviews__block">
                            <p>4.8</p>
                            <div class="reviews__star">
                                <img src="{{ asset('img/reviews/star-1.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-1.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-1.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-1.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-4.png') }}" alt="" />
                            </div>
                        </div>
                        <a href="#">Перейти</a>
                    </div>
                    <div class="reviews__item">
                        <img src="{{ asset('img/reviews/z.png') }}" alt="" />
                        <div class="reviews__block">
                            <p>4.8</p>
                            <div class="reviews__star">
                                <img src="{{ asset('img/reviews/star-1.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-1.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-1.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-1.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-4.png') }}" alt="" />
                            </div>
                        </div>
                        <a href="#">Перейти</a>
                    </div>
                    <div class="reviews__item">
                        <img src="{{ asset('img/reviews/a.png') }}" alt="" />
                        <div class="reviews__block">
                            <p>4.8</p>
                            <div class="reviews__star">
                                <img src="{{ asset('img/reviews/star-1.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-1.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-1.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-1.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-4.png') }}" alt="" />
                            </div>
                        </div>
                        <a href="#">Перейти</a>
                    </div>
                    <div class="reviews__item">
                        <img src="{{ asset('img/reviews/gis.png') }}" alt="" />
                        <div class="reviews__block">
                            <p>4.8</p>
                            <div class="reviews__star">
                                <img src="{{ asset('img/reviews/star-1.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-1.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-1.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-1.png') }}" alt="" />
                                <img src="{{ asset('img/reviews/star-4.png') }}" alt="" />
                            </div>
                        </div>
                        <a href="#">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>